###
### Netmonitor.
###
### This file defines the rules for netmonitor.
###
### It is an (adapted) copy of untrusted_app.te, but with access to 
### proc_net, which was removed from untrusted_app.te
### A non-fitting neverallow rule was also removed
###
### netmonitor includes all the appdomain rules, plus the
### additional following rules:
###

type netmonitor, domain;
app_domain(netmonitor)
net_domain(netmonitor)
bluetooth_domain(netmonitor)

# Some apps ship with shared libraries and binaries that they write out
# to their sandbox directory and then execute.
allow netmonitor app_data_file:file { rx_file_perms execmod };

# ASEC
allow netmonitor asec_apk_file:file r_file_perms;
allow netmonitor asec_apk_file:dir r_dir_perms;
# Execute libs in asec containers.
allow netmonitor asec_public_file:file { execute execmod };

# Allow the allocation and use of ptys
# Used by: https://play.google.com/store/apps/details?id=jackpal.androidterm
create_pty(netmonitor)

# Used by Finsky / Android "Verify Apps" functionality when
# running "adb install foo.apk".
# TODO: Long term, we don't want apps probing into shell data files.
# Figure out a way to remove these rules.
allow netmonitor shell_data_file:file r_file_perms;
allow netmonitor shell_data_file:dir r_dir_perms;

# Read and write system app data files passed over Binder.
# Motivating case was /data/data/com.android.settings/cache/*.jpg for
# cropping or taking user photos.
allow netmonitor system_app_data_file:file { read write getattr };

#
# Rules migrated from old app domains coalesced into netmonitor.
# This includes what used to be media_app, shared_app, and release_app.
#

# Access to /data/media.
allow netmonitor media_rw_data_file:dir create_dir_perms;
allow netmonitor media_rw_data_file:file create_file_perms;

# Traverse into /mnt/media_rw for bypassing FUSE daemon
# TODO: narrow this to just MediaProvider
allow netmonitor mnt_media_rw_file:dir search;

# allow cts to query all services
allow netmonitor servicemanager:service_manager list;

allow netmonitor audioserver_service:service_manager find;
allow netmonitor cameraserver_service:service_manager find;
allow netmonitor drmserver_service:service_manager find;
allow netmonitor mediaserver_service:service_manager find;
allow netmonitor mediaextractor_service:service_manager find;
allow netmonitor mediacodec_service:service_manager find;
allow netmonitor mediadrmserver_service:service_manager find;
allow netmonitor nfc_service:service_manager find;
allow netmonitor radio_service:service_manager find;
allow netmonitor surfaceflinger_service:service_manager find;
allow netmonitor app_api_service:service_manager find;

# Allow GMS core to access perfprofd output, which is stored
# in /data/misc/perfprofd/. GMS core will need to list all
# data stored in that directory to process them one by one.
userdebug_or_eng(`
  allow netmonitor perfprofd_data_file:file r_file_perms;
  allow netmonitor perfprofd_data_file:dir r_dir_perms;
')

# gdbserver for ndk-gdb ptrace attaches to app process.
allow netmonitor self:process ptrace;

# Programs routinely attempt to scan through /system, looking
# for files. Suppress the denials when they occur.
dontaudit netmonitor exec_type:file getattr;

# TODO: switch to meminfo service
allow netmonitor proc_meminfo:file r_file_perms;

# https://code.google.com/p/chromium/issues/detail?id=586021
allow netmonitor proc:file r_file_perms;

# access /proc/net pseudo-filesystem
r_dir_file(netmonitor, proc_net)

# Cts: HwRngTest
allow netmonitor sysfs_hwrandom:dir search;
allow netmonitor sysfs_hwrandom:file r_file_perms;

# Allow apps to view preloaded content
allow netmonitor preloads_data_file:dir r_dir_perms;
allow netmonitor preloads_data_file:file r_file_perms;

###
### neverallow rules
###

# Receive or send uevent messages.
neverallow netmonitor domain:netlink_kobject_uevent_socket *;

# Receive or send generic netlink messages
neverallow netmonitor domain:netlink_socket *;

# Too much leaky information in debugfs. It's a security
# best practice to ensure these files aren't readable.
neverallow netmonitor debugfs_type:file read;

# Do not allow untrusted apps to register services.
# Only trusted components of Android should be registering
# services.
neverallow netmonitor service_manager_type:service_manager add;

# Do not allow netmonitors to connect to the property service
# or set properties. b/10243159
neverallow netmonitor property_socket:sock_file write;
neverallow netmonitor init:unix_stream_socket connectto;
neverallow netmonitor property_type:property_service set;

# Do not allow netmonitor to be assigned mlstrustedsubject.
# This would undermine the per-user isolation model being
# enforced via levelFrom=user in seapp_contexts and the mls
# constraints.  As there is no direct way to specify a neverallow
# on attribute assignment, this relies on the fact that fork
# permission only makes sense within a domain (hence should
# never be granted to any other domain within mlstrustedsubject)
# and netmonitor is allowed fork permission to itself.
neverallow netmonitor mlstrustedsubject:process fork;

# Do not allow netmonitor to hard link to any files.
# In particular, if netmonitor links to other app data
# files, installd will not be able to guarantee the deletion
# of the linked to file. Hard links also contribute to security
# bugs, so we want to ensure netmonitor never has this
# capability.
neverallow netmonitor file_type:file link;

# Do not allow netmonitor to access network MAC address file
neverallow netmonitor sysfs_mac_address:file no_rw_file_perms;

# Restrict socket ioctls. Either 1. disallow privileged ioctls, 2. disallow the
# ioctl permission, or 3. disallow the socket class.
neverallowxperm netmonitor domain:{ rawip_socket tcp_socket udp_socket } ioctl priv_sock_ioctls;
neverallow netmonitor *:{ netlink_route_socket netlink_selinux_socket } ioctl;
neverallow netmonitor *:{
  socket netlink_socket packet_socket key_socket appletalk_socket
  netlink_firewall_socket netlink_tcpdiag_socket netlink_nflog_socket
  netlink_xfrm_socket netlink_audit_socket netlink_ip6fw_socket
  netlink_dnrt_socket netlink_kobject_uevent_socket tun_socket
  netlink_iscsi_socket netlink_fib_lookup_socket netlink_connector_socket
  netlink_netfilter_socket netlink_generic_socket netlink_scsitransport_socket
  netlink_rdma_socket netlink_crypto_socket
} *;

# Do not allow netmonitor access to /cache
neverallow netmonitor { cache_file cache_recovery_file }:dir ~{ r_dir_perms };
neverallow netmonitor { cache_file cache_recovery_file }:file ~{ read getattr };

# Do not allow netmonitor to set system properties.
neverallow netmonitor property_socket:sock_file write;
neverallow netmonitor property_type:property_service set;

# Do not allow netmonitor to directly open tun_device
neverallow netmonitor tun_device:chr_file open;

# Only allow appending to /data/anr/traces.txt (b/27853304, b/18340553)
neverallow netmonitor anr_data_file:file ~{ open append };
neverallow netmonitor anr_data_file:dir ~search;
